.getquote{
    background: var(--blue);
    width:100%;
    min-height:30vh;
    margin-top: -1px;
    Display:flex;
    flex-wrap:wrap;
    place-content: center;
    place-items: center;
    gap:1rem;
}


.getquote label{
    color: var(--white);
    font-weight:600;
}

.getquote input{
    background: var(--white);
    border:none;
    box-shadow: inset 1px 1px 3px rgba(50,50,50,0.5);
    padding: 0.5rem;
    border-radius:var(--corners);
    color: var(--blue);
}

.getquote button{
    background: var(--yellow);
    color: var(--white);
    margin-left:2rem;
}

.getquote button:hover{
    background: var(--blue);
    color: var(--white);
    border-color: var(--white);
}

