:root{
    --yellow: #ffc929;
    --blue:#155e75;
    --gray:#e5e7eb;
    --white:#f8fafc;

    --shadow:2px 2px 10px rgba(50,50,50,0.1);
    --corners: 5px;

    --font-base: 'Synonym', sans-serif;
    --font-accent:'Amulya', sans-serif;
}
